<div class = "le-havre-rounded">Compras em Aberto</div>
<br />
<table>
  <% if @buyers_in_progress.nil? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
      <%= render :partial => 'buyer_info_new', :locals => { :buyers => @buyers_in_progress }  %>
  <%end%>
</table>
<br />

<div class = "le-havre-rounded">Compras Enviadas</div>
<table>
  <% if @buyers_sent.nil? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
      <%= render :partial => 'buyer_info', :locals => { :buyers => @buyers_sent }  %> 
  <%end%>
</table>
<br />


<div class = "le-havre-rounded">Compras Finalizadas</div>
<table>
  <% if @buyers_finished.empty? %>
    <td>Não há compradores nesta seção.</td>
  <% else %>
    <%= render :partial => 'buyer_info', :locals => { :buyers => @buyers_finished }  %>
  <% end %>
</table>
<br />

<%= link_to 'New Buyer', new_buyer_path %>