<!DOCTYPE html>
<html>
<head>
  <title>Vendasml</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

<!-- typekit.com --> 
  <script type="text/javascript" src="http://use.typekit.com/nyj3fjh.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="main">
<div class="blok_header">
    <div class="header">
            <div class="logo">MercadoLivre Organizer</div>
      <div class="menu">
        <ul>
          <li><b><a href="index.html" class="active"><span>Home</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="services.html"><span>Services</span></a></li>
          <li><a href="services.html"><span>Portfolio</span></a></li>
          <li><a href="contact.html"><span>Contact us</span></a></li></b>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  
    <div class="header_text_bg"> </div>
    <div class="body_top"></div>


    
    
<%= yield %>
    </div>
  </div>
  <div class="clr"></div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright YourSiteName. All Rights Reserved<br />
      <a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">RSS </a></p>
    <p class="rightt">(DT) <a href="http://www.dreamtemplate.com"><strong>Website Templates</strong></a></p>
    <div class="clr"></div>
  </div>
</div>  
</body>
</html>
