<!DOCTYPE html>
<html>
<head>
  <title>Perestroika</title>

  <link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/forms.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/typography.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" /> 
  
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/src/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <!-- typekit.com --> 
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script type="text/javascript" src="http://use.typekit.com/nyj3fjh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
</head>
<body>
<div class="main">
<div class="blok_header">
    <div class="header">
            <div class="logo">PERESTROIKA</div>
      <div class="menu">
        <ul>
          <li><b><a href="/" class="active"><span>Início</span></a></li>
          <li><a href="/buyers"><span>Compradores</span></a></li>
          <li><a href="/sales"><span>Produtos</span></a></li>
          <li><a href="/messages"><span>Mensagens</span></a></li>
          <li><a href="/contact"><span>Contato</span></a></li></b>
        </ul>
      </div> <!-- menu -->
      <div class="clr"></div>
    </div><!-- header -->
    <div class="clr"></div>
  </div><!-- blok-header -->
  <div class="clr"></div>
  
  <div class="header_text_bg"> <br />
      <div class="body_top">  </div>
  </div>
  <br />
  <br />

    
  <div class = "body_resize">
  
    <%= yield %>
  </div>
</div> <!-- main -->  
<div class="clr"></div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright Miguel Akira. All Rights F*cking Reserved<br />
      <a href="/">Início</a> | <a href="#">Contato</a> | <a href="#">RSS </a></p>
    
    <div class="clr"></div>
  </div>
</div>  
</body>
</html>
